<div class="page-header">
 <%= button_to 'New Word', new_definition_path, class: "btn btn-default", method: :get %>

  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>Word</th>
        <th>Meaning</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody id="definition_list">
      <%= render @definitions %>
    </tbody>
  </table>
  <p>
  <% if @search %>
    Back to <%= link_to 'Home', definitions_path %>
  <% end %>
  <p>
</div>
